name: Build and push Docker images

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_NAMESPACE: nathalyr15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (optional multiarch)
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./Proyecto/Backend/back
          file: ./Proyecto/Backend/back/Dockerfile
          push: true
          tags: |
            ${{ env.DOCKERHUB_NAMESPACE }}/proyecto-store-app:latest
            ${{ env.DOCKERHUB_NAMESPACE }}/proyecto-store-app:${{ github.sha }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./Proyecto/Frontend/frontend
          file: ./Proyecto/Frontend/frontend/Dockerfile
          push: true
          tags: |
            ${{ env.DOCKERHUB_NAMESPACE }}/proyecto-store-frontend:latest
            ${{ env.DOCKERHUB_NAMESPACE }}/proyecto-store-frontend:${{ github.sha }}
